<div class="login-container">
  <div class="login-box">
    <h2 class="login-title">Log in</h2>
    <form action="<%= session_path(resource_name) %>" method="post">
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="user[email]" required autofocus autocomplete="email">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="user[password]" required autocomplete="current-password">
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox-group">
          <input type="checkbox" id="remember_me" name="user[remember_me]">
          <label for="remember_me">Remember me</label>
        </div>
      <% end %>
      <button type="submit" class="btn-primary">Log in</button>
    </form>
    <div class="links">
      <a href="<%= new_user_registration_path %>">Sign up</a>
      <a href="<%= new_user_password_path %>">Forgot your password?</a>
    </div>
  </div>
</div>
