<h1><%= t ".title" %></h1>
<h1 class="page-title">Products</h1>
<% if user_signed_in? %>
  <div class="action-links">
    <%= link_to "New product", new_product_path, class: "btn btn-primary" %>
   </div>
<% end %>

<div id="products">
  <% @products.each do |product| %>
    <div class="product-card">
      <%= link_to product.name, product, class: "product-link" %>
       <% if product.featured_image.attached? %>
      <%= image_tag product.featured_image, class: "product-image" %>
    <% else %>
      <img src="default_image_path.jpg" alt="Default Image" class="product-image"> <!-- Default image if none attached -->
    <% end %>
    </div>
  <% end %>
</div>
